.head{
  color: black;
}

.header__logo{
  color: black;
}

.hamburger__btn{
  fill: black;
}

.about-container{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: top;
  margin: auto 3rem;
  gap: 3rem;
  margin-top: 4rem;
  font-size: 10px;
}

.about1{
  border: 1px dotted red;
}

.about1 h2{
  line-height: 1.75rem;
  font-weight: 400;
  font-family: "Spectral", serif;
  padding-bottom: 1.6rem;
}

.about-banner-text{
  position: absolute;
  font-size: 3.5rem;
  bottom: 8px;
  right: 4px;
  color: wheat;
  font-family: Custy;
}

.about-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  background: url(/img/Raimer002.jpg);
  background-position: center bottom 50%;
  background-size: cover;
  max-width: 2624px;
  height: 70vh;
  top: 0;
  opacity: 1;
  filter: grayscale(100%);
    

}

.about1,
.about2{
  flex: 1;
  max-width: 300px;
}

.about2{
  max-width: 400px;
}

.about3 h3{
  font-weight: 400;
  font-family: "Spectral", serif;
  border: 1px dotted blue;
  line-height: 1.75rem;
  font-size: 15px;
}

.about-container-bottom{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 3rem;
  padding-top: 3rem;
  font-size: 10px;
}

/* xs */
@media (min-width: 475px) {
  .about-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin: auto 2rem;
    gap: 3rem;
    margin-top: 4rem;
    font-size: 10px;
  }

  .about-container-bottom{
    margin: auto 2rem;
  }
  
}

/* sm */
@media (min-width: 640px) {
  .about-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin: auto 4rem;
    gap: 3rem;
    margin-top: 4rem;
    font-size: 10px;
  }

  .about-container-bottom{
    margin: auto 4rem;
  }
  
}

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */
