.head{
  color: black;
}

.header__logo{
  color: black;
}

.hamburger__btn{
  fill: black;
}

.about-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  margin: auto 3rem;
  gap: 3rem;
  margin-top: 5.5rem;
  font-size: 10px;
  background-color: rgba(247, 247, 247, .45);
}

.about1{
  position: relative;
}

.about1 h2{
  line-height: 1.75rem;
  font-weight: 400;
  font-family: "Spectral", serif;
  padding: 1.6rem 2.5rem;
  background-color: white;

}

.about-span{
  width: 2.5rem;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 1.5rem;
  text-align: center;
  background-color: white;  
}

.about-banner-text{
  position: absolute;
  font-size: 2.7rem;
  bottom: -3.5rem;
  right: 4px;
  color: black;
  font-family: Custy;
}

.about-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  background: url(/img/Raimer002.jpg);
  background-position: center bottom 50%;
  background-size: cover;
  max-width: 2624px;
  height: 70vh;
  top: 0;
  opacity: 1;
  filter: grayscale(100%);
}

.about1{
  flex: 1;
  max-width: 300px;
  
}

.about2{
  max-width: 300px;
  flex: 1;
}

.about3 h3{
  font-weight: 400;
  font-family: "Spectral", serif;
  /* border: 1px dotted blue; */
  line-height: 1.75rem;
  font-size: 15px;
  width: 300px;
  padding: 1.6rem 2.5rem;
  background-color: white;

}

.fa-arrow-turn-up{
  position: absolute;
  left: -2rem;
  top: 12rem;
  font-size: 2rem;
  transform: rotate(90deg);
}

.arrow-text{
  position: absolute;
  left: -4rem;
  font-family: Custy;
  font-size: 2rem;
  
}

.about-container-bottom{
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin: auto 3rem; */
  padding-top: 3rem;
  font-size: 10px;
  flex-direction: column;
}

.about-fun-facts{
  position: relative;
  margin-top: 15rem;
}

.about-fun-top-text{
  font-family: Custy;
  font-size: 3.5rem;
  font-weight: 100;
  transform: rotate(-15deg);
  position: absolute;
  left: 4rem;
  top: -12rem;
}

.about-fun-top-text span{
  position: relative;
  top: 8px;
  left: -4px;
  font-weight: 600;
  font-size: 3.5rem;
}

.about-fun-left {
  padding-bottom: 4rem;
  width: 300px;
}

.about-fun-right {
  padding-bottom: 4rem;
  position: relative;
  left: 0;
  width: 286px;
}

.about-fun-img{
  width: 300px;
}

.about-fun-title{
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  padding: 1.5rem 4px 1rem 4px;
  letter-spacing: 2px;
  text-align: center;
}

.about-fun-title span{
  padding: 0 10px;
}

.about-fun-text{
  max-width: 300px;
  padding: .5rem 4px;
  text-align: center;
}

/* s */
@media (min-width: 360px) {

  .about-banner-text{
    position: absolute;
    font-size: 3rem;
  }

  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 3.75rem;
    width: 300px;
  }

  .about-fun-top-text{
    left: 6rem;
    font-size: 4.25rem;
  }


}


/* xs */
@media (min-width: 475px) {
  .about-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin: auto 2rem;
    gap: 3rem;
    margin-top: 5.25rem;
    font-size: 10px;
  }

  /* .about-container-bottom{
    margin: auto 2rem;
  } */
  
  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 11.5rem;
    width: 300px;
  }

  
  .about-fun-top-text{
    left: 15rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .about-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin: auto 4rem;
    gap: 5rem;
    margin-top: 6rem;
    font-size: 10px;
  }

  /* .about-container-bottom{
    margin: auto 4rem;
  } */

  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 22rem;
    width: 300px;
  }

  .about-fun-top-text{
    left: 26rem;
  }

  
}

/* md */
@media (min-width: 768px) {
  .about-banner-text{
    position: absolute;
    font-size: 3.5rem;
    bottom: -4rem;
    right: 1rem;
    color: black;
    font-family: Custy;
  }

  .about-container-bottom{
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .about2-img{
    position: relative;
    top: 10rem;
  }

  .about3 h3{
    position: relative;
    bottom: 15rem;
  }

  .about-fun-title{
    width: 400px;
    max-width: initial;
    text-align: left;
  }

  .about-fun-text{
    width: 400px;
    max-width: initial;
    text-align: left;
  }

  .about-fun-facts{
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-fun-left {
    padding-bottom: 4rem;
    position: relative;
    width: 300px;
    right: 16rem;
}

  .about-fun-right {
    padding-bottom: 4rem;
    position: relative;
    left: 15rem;
    width: 300px;
  }

  .about-fun-top-text{
    left: 32rem;
    top: 6rem;
  }

  .left-1{
    top: 19rem;
  }

  .right-1{
    bottom: 0rem;
    top: 0rem;
  }

  .left-2{
    bottom: 27rem;
  }

  .right-2{
    bottom: 51rem;
  }

  .about-fun-img{
    width: 380px;
  }

  .footer__logo{
    margin-top: 0;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .about-fun-top-text{
    left: 42rem;
  }
}

/* xL */
@media (min-width: 1288px) {
  .about-fun-top-text{
    left: 66rem;
  }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */
