#nav{
  display: flex;
  justify-content: space-between;
  position: inherit; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem 1rem 1.5rem;
  /* margin-bottom: .85rem; */
  transition: background-color .4s ease-in-out; 
}

#navbar{
  z-index: 100;
}

.header__logo{
  color: black;
  z-index: 1;
}

.hamburger__btn{
  fill: black;
}


.contact-text{
  z-index: 15;
  position: relative;
  padding: 1.5rem 1rem 3rem;
  margin: 3rem auto 0 ;
  max-width: 1250px;
}

.contact-text-title{
  font-family: Title;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
}

.contact-text-subtext{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 2rem;
  text-align: center;
  padding: 0 1rem;
}

.contact-container{
  position: relative;
  z-index: 15;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}


.contact__mail{
  position: relative;
  max-width: 100%;
  margin: 0 auto 7rem;
  flex: 1;
  width: 92%;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 2rem;
}

.contact__group{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__form{
  position: relative;
}

.contact__box{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}


.contact__input,
.contact__button{
  outline: none;
  border: none;
}

.contact__input{
  position: relative;
  width: 100%;
  color: black;
  border: none;
  border-bottom: .5px solid black;
  outline: none;
  font-size: 16px;
  background: transparent;
  box-sizing: border-box;
  display: block;
  min-height: 50px;
}


.contact__label{
  position: relative;
  top: auto;
  left: auto;
  color: black;
  pointer-events: none;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
}


.contact__area{
  height: auto !important;
  width: 100%;
}

.contact__area textarea{
  width: 100%;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}

.contact-button{
  padding: .5rem;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8rem;
  color: brown;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  border-bottom: .5px solid black;
  font-weight: 100;
  letter-spacing: 1.5px;
  transition: color 500ms ease-in-out;

}

.contact-button:hover{
  color: brown;
  border: none;
  border-bottom: .5px solid brown;
}


.contact__input::placeholder{
  opacity: 0;
}

/* Hide placeholder */
.contact__input:focus::placeholder{
  opacity: 0;
}

.contact__message{
  color: black;
  font-size: 1.25rem;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  width: 250px;
  text-align: center;
  transform: translateX(-50%);
  font-family: "Playfair Display", serif;
  font-style: normal;
  letter-spacing: 1px;
}

.contact__image{
  display: block;
  position: relative;
  max-width: 35rem;
  flex: 1.25;
  padding: 2rem;
  top: 2.5rem;
  left: -1rem;
}

.asterisk{
  color: brown;
  position: relative;
  bottom: 2px;
}



/* Mobile */
/* @media (min-width: 330px) {} */

/* xs */
@media (min-width: 475px) {
  .contact-container{
    position: relative;
    z-index: 15;
    padding: 2rem;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

.contact__form,
.contact__group{
  display: grid;
  row-gap: 3.5rem;
}

.contact-text{
  padding: 4rem 2rem 3rem;
}
  
.contact-text-title{
  font-size: 3.5rem;
  text-align: left;
}

.contact-text-subtext{
  text-align: left;
  font-size: 1.15rem;
  padding: 0;
}
  
  .contact-banner-text{
    font-size: 4.5rem;
    bottom: -2.25rem;
  }

  /* .contact-banner-subtext{
    transform: rotate(-90deg);
    bottom: 10.5rem;
    left: -8.5rem;
  } */

  .contact-container{
    position: relative;
    z-index: 15;
    padding: 4rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
  }

  .contact__mail{
    width: 50%;
    flex: 1;
    position: relative;
    top: 2rem;
  }

  .contact__group{
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }

  .contact__label{
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .contact__image{
    max-width: 31rem;
    padding: 0;
    top: 2.5rem;
    left: inherit;

   }


   .contact-subtext{
    font-family: Marker;
    font-size: .75rem;
    position: absolute;
    right: 2rem;
    bottom: .5rem;
  }

}

/* Lg */
@media (min-width: 1024px) {

  .contact-container{
    padding: 4rem 8rem;
    gap: 4rem;
  }

  .contact__mail{
    top: 0rem;
    flex: 1.5;
  }  

}

/* xL */
@media (min-width: 1288px) {
  
  .contact-container {
    padding: 4rem 12rem;
    gap: 6rem;
    margin: 0 auto;
    max-width: 1600px;
  }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */