#nav{
  display: flex;
  justify-content: space-between;
  position: absolute; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem;
  margin-bottom: .85rem;
  transition: background-color .4s ease-in-out;
  background-color: transparent;
}

.hamburger__btn{
  width: 30px;
  fill: white;
  border-radius: 2px;
  border: none;
  position: relative;
  top: 4px;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  /* transition: fill .4s ease-in-out; */
  z-index: 1000;
}

.hamburger__btn.close{
  top: 0;
  left: 2px;
  fill: black;
  transition: fill .15s ease-in-out;
  /* opacity: .5; */
  z-index: 1000;
}

.hamburger__btn.close:hover{
  /* fill: black; */
  opacity: .75;
  font-weight: 900;
}

/* .middle{
  opacity: 0;
} */
 
.hamburger__btn.close .top{
  transform: rotate(45deg) translate(-21px, -20px);
}

.hamburger__btn.close .middle{
  opacity: 0;
}

.hamburger__btn.close .bottom{
  transform: rotate(-45deg) translate(-68px, 5px);
}

#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  
}

#navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  position: fixed;
  top: 0;
  right: -270px;
  height: 100vh;
  width: 270px;
  background-color: white;
  padding: 80px 0 0 20px;
  transition: .5s ease-in;
  z-index: 1000;
}

#navbar.active{
  right: 0;
  transition: .5s ease-in-out;
}

/* .active{
  font-weight: 600;
  opacity: 1;
} */


.head{
  color: black;
  font-weight: 600;
}

.head:hover{
  opacity: .5;
}

.header__link{
  padding-right: 7px;
  /* padding-top: .75rem; */
  padding-top: .05rem;
  color: black;
  font-weight: 400;
}


.home-banner{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  display: none;
}

.home-banner.slide-active{
  display: flex;
}

.home-banner-img-div{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  background-position: center right 40%;
  background-size: cover;
  max-width: 2624px;
  width: 100%;
  height: 100vh;
  height: 100svh;
  top: 0;
  opacity: 1;
  object-fit: cover;
}

.home-banner-img-div img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.img1{
  object-position: 40% 15%;
}
.img2{
  object-position: 54% 15%;
}
.img3{
  object-position: 43% 95%;
}

.home-banner-text{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 5px;
  max-width: 300px ;
  text-transform: capitalize;
}

.home-banner-subtext{
  position: absolute;
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
  font-family: "Varela Round", sans-serif;
  min-width: 260px ;
  text-align: center;
  transform: rotate(-90deg);
  bottom: 10rem;
  right: -8rem;
}

.banner-span{
  font-family: Custy;
  font-weight: 100;
  font-size: 6rem;
  position: relative;
  top: 10px;
  left: 4%;
  letter-spacing: initial;
  text-transform: initial;
}

.home-inner-span{
  position: relative;
  top: 1.5rem;
  left: 8px;
}

.home-title-text{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Encode Sans", sans-serif;
  /* max-width: 700px; */
  margin-bottom: 3rem;
  /* border: 1px solid red; */
  padding: 4rem 2rem 2rem 2rem;
  /* background-color: rgb(247, 247, 247); */
}

.home-title-div{
  display: flex;
  /* justify-content: space-; */
  flex-direction: column;
  align-items: center;
}

.home-title-div div{
  flex: 1;
  /* padding: 0 1rem; */
  align-self: inherit;
}

.home-title-img{
  max-width: 280px;
  border: 10px solid white;
}

.and{
  position: relative;
  right: 2px;
  top: 8px;
  font-family: Custy;
  font-size: 3rem;
}

.name-ray{
  font-family: Custy;
  font-size: 2.75rem;
  position: relative;
  top: 6px;
}

.name-ay{
  font-family: Custy;
  font-size: 4rem;
  position: relative;
  top: 8px;
  left: 1px;
}

.home-title-headline{
  font-family: "Varela Round", sans-serif;
  margin-bottom: 2.5rem;
  /* text-transform: uppercase; */
  text-align: center;
  font-weight: 100;
}

.home-title-subline{
  /* font-family: "Lora", serif; */
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  position: relative;
  font-size: 16px;
}

.home-title-subtext-div{
  background-color: white;
  padding: 2rem;
}

.home-title-subtext{
  /* font-family: "Lora", serif; */
  font-family: "Varela Round", sans-serif;
  line-height: 2rem;
  letter-spacing: .5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-weight: 100;
}

.home-title-button{
  padding: 2rem 0 3rem 0;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  position: relative;
  border: none;
  letter-spacing: 3px;
  top: 3rem;

}

.home-title-button:hover{
  opacity: .5;
}

.home-title-img-div{
  position: relative;
}

.home-title-span{
  font-family: Custy;
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.welcome{
  position: relative;
  bottom: 10px;
  left: -10px;
}

.indent{
  position: relative;
  bottom: 5px;
  left: 4px;
  padding-right: 4px;
}

.arrow{
  position: relative;
  top: .5rem;
  font-size: 1.25rem;
}

.wrapper{
  /* max-width: 600px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  /* height: 85vh; */
  scroll-behavior: smooth;
}

.wrapper .carousel{
  display: flex;
  overflow: hidden;
}

.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img{
  pointer-events: none;
}

.carousel img{
  height: 340px;
  object-fit: cover;
  width: calc(100% / 1);
  margin-left: 14px;
}

.carousel img:first-child{
  margin-left: 0px;
}

.home-prev,
.home-next{
  position: absolute;
  bottom: 1rem;
  z-index: 2;
  height: 2.5rem;
  width: 2.5rem;
  color: #ffffff;
  line-height: 1.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
}

.home-prev:hover,
.home-next:hover{
  opacity: .8;
}

.home-prev:active,
.home-next:active{
  opacity: .8;
  color: black;
}
.home-prev{
left: 5%
}

.home-next{
right: 5%;
}

.home-categories{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 1rem 11rem 1rem;
  background-color: rgb(245, 245, 245);
  position: relative;
  /* overflow: hidden; */
  margin-bottom: 4rem;
}

.home-cat-slider, .home-cat-slider2{
  position: relative;
}

.home-cat-slider{
  position: relative;
  top: 6rem;
}

/* 
.home-cat-slider2{
  background-color: white;
  width: 248px;
  height: 360px;
  border: 4px solid white;
  position: relative;
  right: 4rem;
} */

.gallery-link{
  cursor:default ;
}

.gal-link{
  cursor:default ;
}

.cat-wrapper{
  position: relative;
  width: 130px;
  /* border: 1.5px solid rgba(0, 0, 0, 0.75); */
}

.home-cat-slideshow{
  position: relative;
    right: 1rem;
    top: -1rem;
}

.cat-slide{
  position: relative;
  width: 185px;
  border: 6px solid white;
  border-bottom: 3rem solid white;
  z-index: 1000000;
}

.cat-slide-img-botleft{
  position: absolute;
  left: 0;
  bottom: -10rem;
  width: 16.5rem;
  object-fit: contain;
  /* border: 6px solid white;
  border-bottom: 3rem solid white; */
  /* display: none; */
}

.cat-slide-img-topleft{
  position: absolute;
  left: 0rem;
  top: -3rem;
  width: 9rem;
  object-fit: contain;
  border: 6px solid white;
  border-bottom: 2rem solid white;
}

.cat-slide-img-topleft div{
  position: relative;
  background-color: white;
  text-align: center;
}

.gallery-span{
  font-family: Marker;
  position: relative;
  top: 1.5rem;
  left: -1rem;
  font-size: 13px;
}

.cat-slide-img-botright{
  position: absolute;
  right: 4rem;
  bottom: 5rem;
  width: 10rem;
  object-fit: contain;
  z-index: 3000;
  display: none;
}

.cat-slide-img-topright{
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 20rem;
  display: none;
}

.cat-text-container{
  background-color: white;
  position: relative;
}

.cat-text{
  font-family: Custy;
  font-size: 2.5rem;
  position: absolute;
  width: 170px;
  top: -16rem;
  left: -6rem;
  font-weight: 100;
  flex-wrap: wrap;
  display: none;
}

.cat-text span{
  position: relative;
  bottom: .75rem;
  right: 2px;
}

.cat-text-container2{
  background-color: white;
  position: relative;
}

.cat-text2{
  font-family: Custy;
  font-size: 2.5rem;
  position: absolute;
  width: 200px;
  bottom: -16rem;
  left: -49rem;
  font-weight: 100;
  flex-wrap: wrap;
  display: none;
}

.cat-text2 span{
  position: relative;
  bottom: .75rem;
  right: 2px;
}



.item{
  display: none;
}

.item.item-active{
  display: block;
}

.item.item-active img{
  transition:  display 5s ease;
}

/* @keyframes fade{
  from {opacity: .85};
  to {opacity: 1;}
} */

.home-cat-button{
  position: absolute;
  bottom: 4.5rem;
  font-size: 2.5rem;
  color: black;
  font-family: Custy;
  border: none;
  border-bottom: 1px solid black;
  font-weight: 100;
  letter-spacing: 1px;
  transition: color 350ms ease, background-color 350ms ease-in-out;
  z-index: 100000000;
}

/* .home-cat-button{
  position: absolute;
  bottom: 2.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: 1px solid darkgray;
  font-weight: 100;
  letter-spacing: 1px;
  transition: color 350ms ease, background-color 350ms ease-in-out;
  z-index: 100000;
} */

/* .home-cat-button:hover{
  background-color: black;
  color: white;
  border: none;
} */

.home-contact{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

.contact-text{
  font-family: Custy;
  color: black;
  font-size: 2.25rem;
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  width: 160px;
}

.contact-img{
  object-fit: cover ;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.home-contact div{
  height: 360px;
}

.home-contact-button{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  /* border: 1px solid whitesmoke; */
  border: none;
  font-weight: 100;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5px;
  transition: background-color 350ms ease;
  }


.home-contact-button:hover{
  /* background-color: white; */
  background-color: rgba(247, 247, 247, .05);
  color: white;
  /* border: none; */
  border: 1px solid whitesmoke;
  
}

.mission{
  position: relative;
  z-index: 1000;
}

.mission-div{
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-text{
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  letter-spacing: 2.25px;
  position: relative;
  max-width: 760px;
  z-index: 20;
  text-align: center;
  background-color: white;
  padding: 1.5rem;
  line-height: 2.5rem;
  border: .25px solid darkgray;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 13px;
}


.contact-container{
  position: relative;
  z-index: 101;
  padding: 6rem 0rem;
}
.contact-container::before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
  background: url(/img/Families/fam3.jpg);
  background-size: cover;
  filter: grayscale(100%) blur(8px);
}

.contact-title{
  font-family: Custy;
  color: white;
  font-size: 4.75rem;
  position: absolute;
  font-weight: 100;
  letter-spacing: 2px;
  top: 1rem;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
}

.contact__mail{
  position: relative;
  max-width: 100%;
  margin: 0 auto ;
  top: 5rem;
  flex: 1;
  width: 92%;
}

.contact__form,
.contact__group{
  display: grid;
  row-gap: 2.5rem;
}

.contact__group{
  display: flex;
  gap: 2rem;
}

.contact__form{
  position: relative;
}

.contact__box{
  position: relative;
  width: 100%;
  height: 58px;
}

.contact__input,
.contact__button{
  outline: none;
  border: none;
}

.contact__input{
  position: absolute;
  width: 100%;
  height: 10%;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  color: white;
  padding: 1rem .5rem;
  background-color: transparent;
  /* border: 1px solid rgba(85, 85, 85, 0.5); */
  transition: border .2s, background-color .2s;
}

/* .contact__input:hover{
  border-bottom: 1px solid rgb(210, 200, 200);
} */

/* .contact__input::placeholder{
  transition: opacity 1s; 
} */

.contact__input:focus{
  /* border-bottom: 1px solid rgb(210, 200, 200); */
  transition: 10ms ;
}

.contact__input:-webkit-autofill{
  transition: background-color 6000s, color 6000s;
}

.contact__label{
  position: absolute;
  top: -26px;
  left: 0;
  color: white;
  /* color: rgb(0, 0, 0); */
  /* color: white; */
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 1;
  /* width: 200px; */
  /* letter-spacing: 1px; */
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}


.contact__form .contact__area{
  height: 8rem;
}

.contact__area textarea{
  resize: none;
  padding-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.contact-button{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: rgba(50, 50, 50, .85);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.35);
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  font-weight: 100;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5px;
  transition: background-color 350ms ease;
}

.contact-button:hover{
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
}


.contact__input::placeholder{
  opacity: 0;
}

/* Hide placeholder */
.contact__input:focus::placeholder{
  opacity: 0;
}

@media(min-width: 330px){

  .cat-wrapper{
    width: 160px;
  }

  .cat-slide{
    width: 210px;
  }

  .cat-slide-img-botleft{
    left: 0;
    bottom: -10rem;
    width: 20rem;
  }

  .cat-slide-img-topleft{
    width: 10.5rem;
  }

  .cat-slide-img-botright{
    right: 4rem;
    bottom: 5rem;
    width: 12rem;
  }

  .gallery-span{
    top: 1.5rem;
    left: 0rem;
    font-size: 13px;
  }
  
    
}
 

@media(min-width: 475px){

  .home-title-subline{
    font-size: 16px;

  }

  .home-title-div div{
    flex: 1;
    /* padding: 0 1rem; */
    align-self: inherit;
  }

  .home-title-img{
    max-width: 360px;
    object-fit: cover;
    height: 500px;
  }

  .welcome {
    position: relative;
    left: -6px;
    bottom: 9px;
  }

  .home-inner-span{
    position: relative;
    top: 1.5rem;
    left: 4rem;
  }

  .cat-wrapper{
    width: 180px;
  }

  .home-cat-slideshow{
    position: relative;
      right: 1rem;
      top: -1rem;
  }
  
  .cat-slide{
    width: 240px;
  }

  .cat-slide-img-topleft{
    left: 0rem;
    top: -4rem;
    width: 12.5rem;
  }

  .cat-slide-img-botright{
    display: block;
    position: absolute;
    right: 0rem;
    bottom: 3rem;
    width: 13rem;
    object-fit: contain;
    z-index: 3000;
  }

    
  .home-cat-button {
    bottom: 4.5rem;
    left: 5rem;
    font-size: 2.15rem;
  }

  .home-contact-button{
    letter-spacing: 3px;
    padding: 1rem 2rem;
  }
}

@media(min-width: 540px){

  .cat-wrapper{
    width: 235px;
  }
  
  .home-cat-slideshow{
    position: relative;
      right: 2rem;
      top: 4rem;
  }
  
  .cat-slide{
    width: 300px;
    left: 1.5rem;
    bottom: 5rem;
  }

  .cat-slide-img-botleft{
    position: absolute;
    left: 0;
    bottom: -10rem;
    width: 22rem;
    object-fit: contain;
  }

  .cat-slide-img-topleft{
    left: 0rem;
    top: -5rem;
    width: 15.5rem;
  }

  .cat-slide-img-botright{
    right: 0rem;
    bottom: 3rem;
    width: 15rem;
  }
  
  .home-cat-button {
    bottom: -2rem;
    left: 23.75rem;
    font-size: 2.5rem;
 
}
}


@media(min-width: 768px){

  ul li a{
    color: white;
  }

  .home-banner{
    position: relative;
  }

  .home-banner-img-div{
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: Custom;
    font-size: 6.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    position: relative;
    /* background: url(/img/CTG-News3.jpg); */
    background-position: bottom 18% center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2624px;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 1;
    /* filter: grayscale(100%); */
  }

  
  .home-banner-text{
    position: absolute;
    font-family: "Varela Round", sans-serif;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 5px;
    max-width: 360px ;
    text-align: center;
  }


  .banner-span{
    font-size: 8.5rem;
    top: 14px;
    left: 0;
  }

  .home-inner-span {
    top: 1.5rem;
    left: 2rem;
}

  .home-title-text{
    margin-top: initial;
  }
  
  .home-title-img{
    border-bottom: 3rem solid white;
  }

  .home-title-div{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
  }
  

  .home-title-div div{
    flex: 1;
    /* padding: 0 1rem; */
    align-self: flex-start;
  }

  .home-title-headline{
    text-align: start;
  }
  .home-title-subline{
    text-align: start;
    position: relative;
    bottom: 28px;
    margin-bottom: initial;
  }

  .home-categories{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: row;
  }

  .home-cat-slider{
    left: 3rem;
  }

  .cat-text{
    display: block;
    left: -5.25rem;
    top: -21.5rem;
    width: 175px;
  }

  .cat-slide{
    width: 330px;
    left: 4rem;
    bottom: 0rem;
  }


  .cat-slide-img-botleft{
    position: absolute;
    left: 0;
    bottom: -10rem;
    width: 26rem;
  }

  .cat-slide-img-topleft{
    left: 1rem;
    top: -8.25rem;
    width: 18rem;
  }

  .cat-slide-img-botright{
    right: 0rem;
    bottom: -10rem;
    width: 17rem;
    z-index: 3000;
  }

  .home-cat-button {
    bottom: 3rem;
    left: 32rem;
    font-size: 2.75rem;
}

  .gallery-span{
    font-size: 16px;
  }

  .mission-div{
    padding: 4rem;
  }

  .mission-text{
    padding: 2.85rem;
  }
  
  .contact-title{
    font-size: 5rem;
    left: 1rem;
    transform: inherit;
  }

  /* .contact__group{
    display: flex;
    flex-direction: column;
  } */

  .home-contact div{
    height: 420px;
  }

  .home-contact-button{
    bottom: 3.25rem;
    border: 1px solid black;
  }

  .header__link{
    padding-top: 1.25rem;
    color: white;
    font-weight: 400;
  }
  
  .socials{
    position: relative;
    left: 2px;
  }
  
.mobile__btn{
  display: none;
}

.hamburger__btn{
  display: none;
}

.header__menu-right{
  display: none;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: normal;
  gap: 1.2rem;
  list-style: none;
  text-decoration: none;
  position: inherit;
  top: 1px;
  right: 12px;
  height: inherit;
  width: initial;
  background-color: initial;
  padding: initial;
  z-index: 100;
  transition: none;
  box-shadow: none;
}

#nav{
  position: absolute;
}
}
@media(min-width: 1024px){

  .cat-text{
    display: block;
    left: -22rem;
    width: 170px;
  }

  .cat-text2{
    display: block;
  }

  .cat-slide-img-topleft{
    left: 1rem;
    top: -6rem;
    width: 18rem;
  }

  .cat-slide-img-botright{
    right: 2rem;
    bottom: -10rem;
    width: 22rem;
  }

  
  .cat-slide-img-topright {
    position: absolute;
    right: 0rem;
    top: 59.5rem;
    width: 11.25rem;
    z-index: 200000;
    display: block;
    border: 6px solid white;
  }

  
  .home-cat-button {
    bottom: -2rem;
    left: initial;
    font-size: 3rem;
}

}

@media(min-width: 1200px){

  .cat-slide-img-topleft{
    left: 0rem;
    top: -4rem;
    width: 19rem;
  }

  .cat-slide-img-botright{
    right: 2rem;
    bottom: -10rem;
    width: 22rem;
  }
}
