#nav{
  display: flex;
  justify-content: space-between;
  position: absolute; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem;
  margin-bottom: .85rem;
  transition: background-color .4s ease-in-out;
}

.hamburger__btn{
  width: 30px;
  fill: white;
  border-radius: 2px;
  border: none;
  position: relative;
  top: 4px;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: pointer;
  /* transition: fill .4s ease-in-out; */
  z-index: 1000;
}

.hamburger__btn.close{
  top: 0;
  left: 2px;
  fill: black;
  transition: fill .15s ease-in-out;
  opacity: .5;
  z-index: 1000;
}

.hamburger__btn.close:hover{
  /* fill: black; */
  opacity: .5;
}

.middle{
  opacity: 0;
}

.hamburger__btn.close .top{
  transform: rotate(45deg) translate(18px, -14px);
}

.hamburger__btn.close .middle{
  opacity: 0;
}

.hamburger__btn.close .bottom{
  transform: rotate(-45deg) translate(-66px, 5px);
}

#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  
}

#navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
  position: fixed;
  top: 0;
  right: -270px;
  height: 100vh;
  width: 270px;
  background-color: white;
  padding: 80px 0 0 20px;
  transition: .5s ease-in;
  z-index: 1000;
}

#navbar.active{
  right: 0;
  transition: .5s ease-in-out;
}

.active{
  font-weight: 600;
  opacity: 1;
  /* color: black; */
}


.head{
  color: black;
  font-weight: 600;
}

.head:hover{
  opacity: .5;
}

.header__link{
  padding-right: 6px;
  padding-top: .75rem;
  color: black;
  font-weight: 400;
}


.home-banner{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}

.home-banner-img-div{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  background: url(/img/CTG-News3.jpg);
  background-position: center right 40%;
  background-size: cover;
  max-width: 2624px;
  width: 100%;
  height: 100vh;
  top: 0;
  opacity: 1;
  filter: grayscale(100%);
  object-fit: cover;
}

.home-banner-text{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 5px;
  max-width: 380px ;
}

.banner-span{
  font-family: Custy;
  font-weight: 400;
  font-size: 3.5rem;
  position: relative;
  top: 10px;
  left: -4px;
  letter-spacing: initial;
  text-transform: initial;
}

.home-title-text{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Encode Sans", sans-serif;
  /* max-width: 700px; */
  margin-bottom: 3rem;
  /* border: 1px solid red; */
  padding: 4rem 2rem 2rem 2rem;
  /* background-color: rgb(247, 247, 247); */
}

.home-title-div{
  display: flex;
  justify-content: space-;
  flex-direction: column;
  align-items: center;
}

.home-title-div div{
  flex: 1;
  /* padding: 0 1rem; */
  align-self: inherit;
}

.home-title-img{
  max-width: 280px;
}

.name-ray{
  font-family: Custy;
  font-size: 4rem;
  position: relative;
  top: 6px;
}

.name-ay{
  font-family: Custy;
  font-size: 4rem;
  position: relative;
  top: 8px;
  left: 1px;
}

.home-title-headline{
  font-family: "Varela Round", sans-serif;
  margin-bottom: 2.5rem;
  /* text-transform: uppercase; */
  text-align: center;
  font-weight: 100;
}

.home-title-subline{
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  position: relative;
  font-size: 22px;
}

.home-title-subtext-div{
  background-color: white;

}

.home-title-subtext{
  line-height: 2rem;
  letter-spacing: .5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

.home-title-button{
  padding: 2rem 0 3rem 0;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  position: relative;
  border: none;
  letter-spacing: 3px;
  top: 3rem;
}

.home-title-button:hover{
  opacity: .5;
}

.home-title-img-div{
  position: relative;
}

.home-title-span{
  font-family: Custy;
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.welcome{
  position: relative;
  bottom: 1rem;
}

.indent{
  position: relative;
  bottom: 5px;
  left: 4px;
  padding-right: 4px;
}

.arrow{
  position: relative;
  top: .5rem;
  font-size: 1.25rem;
}

.home-categories{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem 1rem 10rem 1rem;
  background-color: rgba(247, 247, 247, .5);
  position: relative;
}

.home-categories div{
  position: relative;
}

.home-cat-innertext{
  position: absolute;
  font-size: 1.25rem;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
  text-align: center;
  
}

.home-categories div p{
  text-align: center;
  font-family: Custy;
  font-size: 4rem;
  padding-top: 10px;
  position: relative;

}

.home-categories div img:hover{
  cursor: pointer;
  opacity: .85;
}

.home-categories div img:hover+.home-cat-innertext{
  display: block;
}

.home-cat-img{
  width: 320px;
  height: 400px;
  object-fit: cover;
}

.home-cat-button{
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  font-family: "Varela Round", sans-serif;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: 100;
  letter-spacing: 1px;
  transition: background-color 350ms ease-in-out;
  transition: color 650ms ease;
}

.home-cat-button:hover{
  background-color: black;
  color: white;
}

.home-contact{
  display: flex;
  position: relative;
  flex-direction: column;
}

.home-contact img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.home-contact div{
  height: 300px;
}

.home-contact-button{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: rgba(247, 247, 247, .05);
  color: white;
  font-family: "Varela Round", sans-serif;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  font-weight: 100;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 1.5px;
  transition: background-color 550ms ease;
  }


.home-contact-button:hover{
  background-color: black;
  border: none;
}

@media(min-width: 330px){
 

@media(min-width: 475px){

  .home-title-subline{
    font-size: 24px;
  font-family: "Varela Round", sans-serif;

  }

  .home-title-div div{
    flex: 1;
    padding: 0 1rem;
    align-self: inherit;
  }

  .home-title-img{
    max-width: 360px;
    object-fit: cover;
    height: 500px;
  }

  .welcome{
    position: relative;
    left: 2px;
  }

  .home-inner-span{
    position: relative;
    top: 10px;
    left: 4rem;
  }
}

  .home-contact-button{
    letter-spacing: 3px;
    padding: 1rem 2rem;
  }
}

@media(min-width: 768px){

  ul li a{
    color: white;
  }

  .home-banner{
    position: relative;
  }

  .home-banner-img-div{
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: Custom;
    font-size: 6.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    position: relative;
    background: url(/img/CTG-News3.jpg);
    background-position: bottom 18% center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2624px;
    width: 100%;
    height: 100vh;
    top: 0;
    opacity: 1;
    filter: grayscale(100%);
  }

  
  .home-banner-text{
    position: absolute;
    bottom: 4.5rem;
    left: 4.75rem;
    font-family: "Varela Round", sans-serif;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 5px;
    max-width: 320px ;
    text-align: center;
  }

  .banner-span{
    font-size: 4.5rem;
    top: 14px;
  }

  .home-title-text{
    margin-top: initial;
  }
  

  .home-title-div{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
  }

  .home-title-div div{
    flex: 1;
    padding: 0 1rem;
    align-self: flex-start;
  }

  .home-title-headline{
    text-align: start;
  }
  .home-title-subline{
    text-align: start;
    position: relative;
    bottom: 28px;
    margin-bottom: initial;
  }

  .home-categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  .home-cat-button{
    position: absolute;
    bottom: 2.5rem;
  }

  .home-contact div{
    height: 420px;
  }

  .home-contact-button{
    bottom: 3.25rem;
    border: 1px solid black;
  }

  .header__link{
    padding-top: 2.1rem;
    color: white;
    font-weight: 400;
  }
  
  .socials{
    position: relative;
    left: 2px;
  }
  
.mobile__btn{
  display: none;
}

.hamburger__btn{
  display: none;
}

.header__menu-right{
  display: none;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: inherit;
  justify-content: normal;
  gap: 1.2rem;
  list-style: none;
  text-decoration: none;
  position: inherit;
  top: 1px;
  right: 12px;
  height: inherit;
  width: initial;
  background-color: initial;
  padding: initial;
  z-index: 100;
  transition: none;
  box-shadow: none;
}

#nav{
  position: absolute;
}
}
/* @media(min-width: 1024px){} */

/* @media(min-width: 1200px){} */

