.home-banner{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.home-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  background: url(/img/CTG-News3.jpg);
  background-position: center bottom 20%;
  background-size: cover;
  max-width: 2624px;
  height: 90vh;
  top: 0;
  opacity: 1;
  filter: grayscale(90%);
}

.home-title-text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80vh;
  font-family: "Encode Sans", sans-serif;
  max-width: 700px;
  margin-bottom: 3rem;
}

.home-title-text p{
  line-height: 2rem;
  letter-spacing: .5px;
  font-size: 1rem;
}

.home-categories{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-categories div p{
  text-align: center;
  
}

.home-cat-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.home-cat-div-mid{
  position: relative;
  bottom: -50px;
}

/* @media(min-width: 480px){} */

/* @media(min-width: 768px){} */

/* @media(min-width: 1024px){} */

/* @media(min-width: 1200px){} */

