#nav{
  display: flex;
  justify-content: space-between;
  /* position: absolute;  */
  position: inherit; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem 1rem 1.5rem;
  /* margin-bottom: .85rem; */
  transition: background-color .4s ease-in-out; 
}

.header__logo{
  color: black;
}

.hamburger__btn{
  fill: black;
}


.info-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  /* background: url(/img/Weddings/wed346.jpg);
  background-position:center bottom 75%; */
  background: url(/img/Weddings/Hudson-valley-elopement-photography.jpg);
  background-position: 40% 10%;
  background-size: cover;
  max-width: 2624px;
  height: 75vh;
  top: 0;
  opacity: 1;
  /* filter: saturate(90%); */
}

.info-banner-subtext{
  position: absolute;
  font-size: 10px;
  color: white;
  letter-spacing: 3px;
  /* font-family: "Lora", serif; */
  font-family: "Varela Round", sans-serif;
  min-width: 260px ;
  text-align: center;
  text-transform: uppercase;
  /* transform: rotate(-90deg); */
  top: 8px;
  right: 8px;
}

.info-banner-text{
  position: absolute;
  font-size: 3rem;
  bottom: -3rem;
  right: 8px;
  color: black;
  font-family: "Playfair Display", serif;
  font-style: italic;
  /* width: 235px; */
  z-index: 15;
}


.info-approach{
  margin-top: 3rem;
  padding: 4rem 1rem 0;
  margin-bottom: 2rem;
}

.info-approach-title{
  font-family: Title;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1rem;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  color: #4b5933;
}

.info-approach-text{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 2rem;
  text-align: center;
}

.approach-top{
  margin-bottom: 1rem;
}

.info-faq{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 4rem auto;
  position: relative;
  max-width: 1400px;
}

.info-faq-top,
.info-faq-bottom{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* gap: 6rem; */
  max-width: 1400px;
  margin: 1rem auto;
  /* padding: 4rem; */
}

.faq-t{
  flex-direction: column;
}

.info-faq-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  flex: 1;
  text-align: center;
  gap: 2rem;
  padding: 0 1rem;
}

.info-faq-title{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2.15rem;
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
  top: .25rem;
  max-width: 32rem;
}

.info-faq-title-and{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 2rem;
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: center;
  top: .25rem;
  max-width: 40rem;
}


.info-faq-subtitle{
  font-family: "Varela Round", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

.info-faq-text{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: 2rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  text-align: center;
}


.info-faq-img{
  flex: 1;
  position: relative;
}

.info-faq-img-top{
  position: relative;
  z-index: 2;
  max-width: 240px;
  bottom: 2rem;
}

.info-faq-img-bot{
  position: relative;
  z-index: 2;
  max-width: 300px;
  top: -2rem;
}


.info-tabs{
  padding: 3rem 2rem;
  background-color: rgba(247, 247, 247, .5);
  display: flex;
  justify-content: center;
}

.info-tabtitles{
  background-color: white;
  padding: 3.5rem 1rem 2rem 1rem;
  position: relative;
  display: none;
  max-width: 800px;
  align-self: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.info-guide-div{
  padding: 3rem 2rem;
  background-color: rgba(247, 247, 247, .5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.info-guide{
  background-color: white;
  padding: 3.5rem 1rem 2rem 1rem;
  position: relative;
  max-width: 800px;
  align-self: flex-start;
  margin-bottom: 4rem;
}

.guide-right{
  background-color: rgba(25, 25, 25, 0.85);
  background-color: rgba(200, 100, 60, 0.75);
  
  color: white;
  padding: 3.5rem 1rem 2rem 1rem;
  position: relative;
  max-width: 800px;
  align-self: flex-end;
  margin-bottom: 4rem;
}

.info-guide-faq{
  background-color: white;
  padding: 1rem 1rem 1rem;
  position: relative;
  max-width: 800px;
  align-self: flex-start;
  margin-bottom: 4rem;
  /* border: .5px solid darkgray; */
}


.guide-right-faq{
  background-color: white;
  padding: 1rem 1rem 1rem;
  position: relative;
  max-width: 800px;
  align-self: flex-end;
  margin-bottom: 4rem;
  /* border: .5px solid darkgray; */
}

.info-tabtext-faq{
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  max-width: 800px;
  position: relative;
}


.info-tabtext{
  padding: 2rem 1rem;
  max-width: 800px;
  position: relative;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}

.info-img{
  position: relative;
  width: 12rem;
  right: 0rem;
  top: -2rem;
  border: 10px solid white;
}

.info-nums{
  position: absolute;
  right: 1rem;
  top: .5rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(50, 50, 50);
}

.info-nums2{
  position: absolute;
  right: 1rem;
  top: .5rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(255, 255, 255);
}

.info-prev, .info-next{
  padding-top: 1rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(135, 135, 135);
  cursor: pointer;
  transition: color 350ms ease;
}

.info-prev:hover, .info-next:hover{
  color: rgba(25, 25, 25, .85);
  font-weight: 900;
}

.info-next{
  padding-left: 1rem;
}

.info-tabtitles ul{
  display: flex;
  gap: 2rem;
}

.info-tablinks{
  letter-spacing: 2px;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  cursor: pointer;
}

.active-link{
  font-weight: 500;
  color: black;
  display: block;
}

.info-pricing{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: top;
  padding-bottom: 8rem;
  position: relative;
  background-color: rgba(247, 247, 247, .5);
}

.info-price-bot{
  padding-top: 4rem;
}

.info-switch{
  padding-top: 4rem;
}

.last-switch{
  padding-bottom: 0;
  margin-bottom: 4rem;
}

.price-img-div{
  position: relative;
  height: 500px;
  flex: 1;
  margin: 0 3rem;
} 

.price-subtext{
  font-family: Marker;
  font-size: 12px;
  font-weight: 100;
  position: absolute;
  left: .75rem;
  bottom: -2.5rem;
}

.price-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 0%;
}

.price1-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 0%;
}

.p-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 50%;
}

.img2{
  object-position: 20% 20%;
}

.price-div{
  padding: 0 2rem;
  text-align: left;
  flex: 1;
  padding-top: 2rem;
  position: relative;
} 

.price-div ul li{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  font-size: 1rem;
  /* line-height: 2rem; */
  padding: 4px 0;
}

.price-title{
  font-family: Title;
  font-style: normal;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #4b5933;
}


.price-line-bot{
  content: "";
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 2rem;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  top: 2rem;
}


.price-text{
  padding-bottom: 1rem;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}

.price-list{
  margin: 0 auto;
  position: relative;
  width: fit-content;
}

.price-bottom{
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.15rem;

  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  top: 2.5rem;
  line-height: 2rem;
  text-align: center;
}

.price-bottom span{
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  position: relative;
  bottom: 8px;
}

.price-button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7rem;
  border: none;
  transition: color 350ms ease, background-color 350ms ease-in-out;
  z-index: 1;
  padding: 1rem 2rem;
  width: max-content;
  font-size: 1rem;
  /* background-color: rgba(25, 25, 25, 0.9);
  color: white; */
  background-color: #4b5933;
  color: #fff2d9e6;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.price-button:hover{
  background-color: rgb(110, 110, 110);
  color: white;
  border: none;
}

.pride-dot{
  color: rgba(0, 186, 37, 0.95);
}

.img2{
  object-position: 50% 26.5%;
}

.info-small{
  position: relative;
}

.info-small{
  text-align: center;
}


.info-small-text{
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 300;
  position: relative;
  padding: 0 1rem;
  top: 5rem;
  z-index: 2;
  color: #4b5933;
}

.info-small-title{
  position: absolute;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-transform: capitalize;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: black;
  top: 4rem;
  left: 1rem;
}

.info-small-subtitle{
  position: absolute;
  font-family: "Playfair Display", serif;
  font-style: normal;
  text-transform: capitalize;
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: black;
  top: -4rem;
  left: 1rem;
}

.small-italics{
  font-style: italic;
}

.info-steps{
  position: relative;
  /* background-color: #faa05f26; */
  background-color: #f5deb3e6;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
}

.info-steps-other{
  position: relative;
  padding: 4rem 1rem;
  display: flex;
  justify-content: flex-end;
  max-width: 1400px;
  margin: 0 auto;
}

.info-steps-left{
  padding: 5rem 2rem 6rem;
  max-width: 800px;
  /* color: #2f3720; */
  color: #475926;
}

.info-steps-right{
  padding: 5rem 2rem 6rem;
  max-width: 800px;
}

.steps-r{
  padding: 3rem 2rem 2rem;
}

.info-steps-img{
  position: absolute;
  max-width: 180px;
  bottom: -8rem;
  left: 6rem;
}

.info-steps-img2{
 display: none;
}

.info-steps-img-other{
  position: absolute;
  max-width: 15rem;
  top: -5rem;
  left: 3rem;
  display: none;
}

.info-steps-img-other2{
  position: absolute;
  max-width: 19rem;
  top: -7rem;
  left: 3rem;
}

.info-steps-img-otherleft{
  position: absolute;
  width: 180px;
  right: 3rem;
  bottom: -8rem;
  z-index: 1;
}

.info-steps-title{
  letter-spacing: 2px;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 1.5rem;
  text-align: center;
}

.green{
  color: #4b5933;
}

.info-steps-text{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}

.info-span-text{
  letter-spacing: 2px;
  /* font-size: 1rem; */
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-transform: capitalize;
}

.faq-accordian{
  position: relative;
  margin-bottom: 16rem;
}

.faq-container{
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.faq-div{
  max-width: 700px;
  /* margin-top: 2rem; */
  padding: 1.5rem;
  margin-bottom: 6px;
  background-color: rgba(247, 247, 247, .5);
  /* border-bottom: 2px solid black; */
  /* cursor: pointer; */
}

.faq-title{
  font-family: Custy;
  font-weight: 400;
  font-size: 3rem;
  padding: 3rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 234px;
}

.faq-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question-text{
  font-family: "Varela Round", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.faq-answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 550ms ease;
}

.faq-div.faq-active .faq-answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq-answer-text{
  padding-top: 1rem;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .25px;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 1rem;
}

.faq-div.faq-active svg{
  transform: rotate(180deg);
}

svg{
  transition: transform .25s ease-in;
}

@keyframes fade{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


.info-contact-banner{
  background-color: rgba(247, 247, 247, .45);
  padding: 2rem 3rem 3rem 3rem;
  position: relative;
}

.info-contact-button{
  padding: 1.25rem 2rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  position: relative;
  border: none;
  letter-spacing: 3px;
  background-color: #4b5933;
  color: #fff2d9e6;
  left: 50%;
  transform: translateX(-50%);
}

.info-contact-button:hover{
  opacity: .85;
}


/* Mobile */
@media (min-width: 325px) {
  .info-faq-title{
    font-size: 2.5rem;
  }
}

@media(min-width: 400px){

  .info-faq-title{
    font-size: 3rem;
  }
}

/* xs */
@media (min-width: 475px) {
  .info-tabs{
    padding: 3rem 3rem;
  }

  .info-faq-title{
    font-size: 3rem;
  }

  .info-faq-subtitle{
    font-size: 1rem;
  }

  /* .info-small-text{
    top: 3.25rem;
  } */

  .info-img{
    position: absolute;
    width: 17rem;
    right: -2rem;
    top: 15rem;
    border: 10px solid white;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

  .header.scrolled{
    display: none;
    scroll-behavior: smooth;
  } 

  .header__logo{
    color: black;
  }

  
.faq-answer-text{
  text-align: left;
}

.info-banner-text{
  font-size: 4.5rem;
  bottom: -2.25rem;
}

.info-approach {
  /* padding: 4rem 0rem 0; */
  margin: 3rem auto;
  max-width: 1300px;
}

.info-approach-text{
  padding: 0;
  font-size: 1.15rem;
  text-align: left;
}

.info-approach-title{
  text-align: left;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.info-faq{
  gap: 0;
  margin: 2rem auto 8rem;
}

.info-faq-top,
.info-faq-bottom{
  flex-direction: row-reverse;
  padding: 2rem 0rem 4rem;
  gap: 10rem;
}

.info-faq-div{
  max-width: 50rem;
  text-align: left;
  align-items: initial;
  padding: 0 2rem;
}

.info-faq-title{
  text-align: left;
  font-size: 3rem;
  max-width: 40rem;
}

.info-faq-title-and{
  text-align: left;
  font-size: 2.35rem;
}

.info-faq-text{
  text-align: left;
  padding: 0;
}

.info-faq-img{
  max-width: 14rem;
}

.info-faq-img-top{
  max-width: 324px;
  left: -8rem;
  bottom: inherit;
}

.info-faq-img-bot{
  max-width: 400px;
  top: 0rem;
}

.info-tabs{
  padding: 3rem 4rem;
}

.info-tabtext{
  text-align: left;
}

.info-pricing{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: top;
  padding-bottom: 0rem;
  position: relative;
  margin: 0 auto;
  max-width: 1500px;
}

.info-switch{
  flex-direction: row-reverse;
}

.info-small-text{
  font-size: 4rem;
  top: 4rem;
}

.price-img-div{
  height: 500px;
  flex: 1;
} 

.price-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 0%;
}  

.price1-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 75%;
}

.img2{
  object-position: 20% 20%;
}

.price-div{
  padding: 2rem 0 2rem;
  text-align: left;
  flex: 1;
  position: relative;
  height: 575px;
} 


.price-title{
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
}


.price-line-bot{
  content: "";
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 2rem;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  top: 2rem;
}


.price-text{
  padding-bottom: 1.5rem;
  font-weight: 400;
  width: 420px;
  margin: 0 auto;
  text-align: left;

}

.price-bottom{
  font-size: 1.15rem;
  font-weight: 400;
  position: relative;
  top: 2.5rem;
  line-height: 2rem;
}

.price-bottom span{
  font-weight: 400;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  position: relative;
  bottom: 8px;
}

.price-button{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3.5rem;
}

.info-steps{
  padding: 4rem;
}

.info-steps-text{
  text-align: left;
}

.info-steps-other{
  padding: 4rem;
}

.info-steps-left{
  padding: 4rem 2rem;
}

.info-steps-right{
  padding: 4rem;
}

.info-steps-img{
  position: relative;
  max-width: 200px;
  top: 7rem;
  left: inherit;
  bottom: inherit;
}

.info-steps-img2{
  position: relative;
  max-width: 200px;
  top: 7rem;
  display: block;
}

.info-steps-img-other{
  position: relative;
  max-width: 28rem;
  top: inherit;
  left: inherit;
  bottom: 7rem;
  z-index: 2;
  display: block;
}

.info-steps-img-other2{
  position: relative;
  max-width: 28rem;
  top: inherit;
  left: inherit;
  bottom: 7rem;
}

.info-steps-img-otherleft{
  width: 180px;
  top: 12rem;
  left: 3rem;
  right: inherit;
  bottom: inherit;
}

}

/* Lg */
@media (min-width: 1024px) {
  .info-faq-top,
  .info-faq-bottom{
    gap: 6rem;
    padding: 2rem 7rem 0rem;
  }

  .faq-b{
    gap: 10.5rem;
  }

  .info-faq-div{
    padding: 0 1rem;
  }

  /* .info-faq-title{
    font-size: 4rem;
  } */

  .info-faq-img{
    max-width: 20rem;
  }

  .info-faq-img-top{
    max-width: 400px;
    left: -3rem;
  }

  .info-faq-img-bot{
    max-width: 436px;
  }

  .info-steps{
    padding: 4rem 2rem 0;
  }

  .info-steps-other{
    padding: 4rem 2rem 6rem;
  }

  .steps-b{
    padding: 4rem 2rem 1.5rem;
  }

  .info-steps-img {
    max-width: 320px;
    top: 4rem;
}

  .info-steps-img2 {
    max-width: 320px;
    top: 4rem;
}

.info-steps-img-other {
  max-width: 33rem;
  bottom: 14rem;
}

.info-steps-img-other2 {
  max-width: 35rem;
  bottom: 12rem;
}

.info-steps-img-otherleft {
  width: 240px;
  top: 8rem;
  left: -2rem;
}
  
}

/* xL */
@media (min-width: 1288px) {

  .info-faq-top,
  .info-faq-bottom{
    gap: 10rem;
  }

  .faq-b{
    gap: 14rem;
  }
   
  .info-small-text{
    top: 1.75rem;
  }

  .info-guide-div{
    margin: 0 auto;
    max-width: 1600px;
    /* padding: 3rem 0; */
  }

  .info-steps-img-other {
    max-width: 35rem;
    bottom: 14rem;
  }
  
  .info-steps-img-other2 {
    max-width: 35rem;
    bottom: 14rem;
  }

  .info-steps-img-otherleft {
    width: 300px;
    top: 9rem;
  }
}

/* 2xL */
/* @media (min-width: 1536px) {}   */