#nav{
  display: flex;
  justify-content: space-between;
  position: absolute; 
  align-items: center;
  top: 0;
  right: 0;
  left:0;
  z-index: 100;
  padding: 1rem;
  margin-bottom: .85rem;
  transition: background-color .4s ease-in-out; 
}

.header__logo{
  color: white;
}

.hamburger__btn{
  fill: white;
}


.info-banner-img{
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: Custom;
  font-size: 6.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  bottom: -2rem;
  background: url(/img/Weddings/wed300.jpg);
  background-position:center bottom 90%;
  background-size: cover;
  max-width: 2624px;
  height: 95vh;
  height: 95svh;
  top: 0;
  opacity: 1;
  /* filter: grayscale(82%); */
}

.info-banner-text{
  position: absolute;
  font-size: 3rem;
  bottom: -3.5rem;
  left: 1rem;
  color: black;
  font-family: Custy;
}


.info-approach{
  margin-top: 5rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

.info-approach-title{
  letter-spacing: 4px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}

.info-approach-text{
  position: relative;
  font-weight: 400;
  font-family: "Lora", serif;
  font-size: 16px;
  max-width: 1200px;
  padding: 1rem;
}

.approach-top{
  margin-bottom: 1rem;
}

.info-tabs{
  padding: 3rem 2rem;
  background-color: rgba(247, 247, 247, .5);
  display: flex;
  justify-content: center;
}

.info-tabtitles{
  background-color: white;
  padding: 3.5rem 1rem 2rem 1rem;
  position: relative;
  display: none;
  max-width: 800px;
  align-self: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.info-tabtext{
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  max-width: 800px;
  position: relative;
}

.info-nums{
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(135, 135, 135);
}

.info-prev, .info-next{
  padding-top: 1rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(135, 135, 135);
  cursor: pointer;
  transition: color 350ms ease;
}

.info-prev:hover, .info-next:hover{
  color: rgba(25, 25, 25, .85);
  font-weight: 900;
}

.info-next{
  padding-left: 1rem;
}

.info-next

.info-tabtitles ul{
  display: flex;
  gap: 2rem;
}

.info-tablinks{
  letter-spacing: 2px;
  font-size: 3rem;
  font-family: Custy;
  font-weight: 400;
  cursor: pointer;
}

.active-link{
  font-weight: 500;
  color: black;
  display: block;
}

.info-pricing{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: top;
  /* border: 2px dotted red; */
  padding-bottom: 8rem;
  position: relative;
  background-color: rgba(247, 247, 247, .5);
}



.last-switch{
  padding-bottom: 0;
  margin-bottom: 4rem;
}

.price-img-div{
  height: 500px;
  flex: 1;
} 

.price-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 0%;
}

.img2{
  object-position: 20% 20%;
}

.price-div{
  padding: 0 2rem;
  text-align: center;
  flex: 1;
  padding-top: 2rem;
  position: relative;
  /* background-color: rgba(247, 247, 247, .5); */
} 

.price-div ul li{
  font-weight: 400;
  font-family: "Lora", serif;
  font-size: 16px;
}

.price-title{
  font-family: Custy;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
}

/* .price-line{
  content: "";
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 1.5rem;
  height: .5rem;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
} */

.price-line-bot{
  content: "";
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 2rem;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  top: 2rem;
}


.price-text{
  padding-bottom: 1rem;
  font-weight: 400;
  font-family: "Lora", serif;
  font-size: 16px;
}

.price-bottom{
  font-family: Custy;
  font-size: 2.5rem;
  font-weight: 100;
  position: relative;
  top: 1.5rem;
  line-height: 2rem;
}

.price-bottom span{
  font-weight: 400;
  font-family: "Lora", serif;
  font-size: 16px;
  position: relative;
  bottom: 8px;
}

.price-button{
  padding: 1.25rem 2rem;
  font-size: .75rem;
  width: 173px;
  /* background-color: rgb(75, 75, 75); */
  /* color: white; */
  background-color: white;
  color: rgb(25, 25, 25);
  font-family: "Varela Round", sans-serif;
  border-radius: 4px;
  border: 1px solid rgb(75, 75, 75);
  font-weight: 100;
  letter-spacing: 1px;
  transition: color 350ms ease, background-color 350ms ease-in-out, opacity 750ms ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7rem;
}

.price-button:hover{
  /* background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255); */
  background-color: rgb(55, 55, 55);
  color: white;
  /* opacity: .75; */
}

.img2{
  object-position: 50% 26.5%;
}

.faq-accordian{
  position: relative;
  margin-bottom: 16rem;
}

.faq-container{
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.faq-div{
  max-width: 700px;
  /* margin-top: 2rem; */
  padding: 1.5rem;
  margin-bottom: 6px;
  background-color: rgba(247, 247, 247, .5);
  /* border-bottom: 2px solid black; */
  cursor: pointer;
}

.faq-title{
  font-family: Custy;
  font-weight: 400;
  font-size: 3rem;
  padding: 3rem 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 234px;
}

.faq-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question-text{
  letter-spacing: 1px;
  font-family: "Varela Round", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 14px;
}

.faq-answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 550ms ease;
}

.faq-div.faq-active .faq-answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq-answer-text{
  padding-top: 1rem;
  line-height: 1.5rem;
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: 100;
}

.faq-div.faq-active svg{
  transform: rotate(180deg);
}

svg{
  transition: transform .25s ease-in;
}

@keyframes fade{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


/* Mobile */
/* @media (min-width: 325px) {} */

/* xs */
@media (min-width: 475px) {
  .info-tabs{
    padding: 3rem 3rem;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

  .header.scrolled{
    display: none;
    scroll-behavior: smooth;
  } 

  #nav{
    display: flex;
    justify-content: space-between;
    position: fixed; 
    align-items: center;
    top: 0;
    right: 0;
    left:0;
    z-index: 100;
    padding: 1rem;
    margin-bottom: .85rem;
    transition: background-color .4s ease-in-out; 
  }

  .header__logo{
    color: white;
  }

  .info-banner-img{
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: Custom;
    font-size: 6.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    position: relative;
    bottom: -2rem;
    background: url(/img/Weddings/wed300.jpg);
    background-position:center bottom 78%;
    background-size: cover;
    max-width: 2624px;
    height: 100vh;
    top: 0;
    opacity: 1;
    filter: grayscale(0%);
  }

  .info-banner-text{
    position: absolute;
    font-size: 4rem;
    bottom: .5rem;
    left: initial;
    right: 2rem;
    color: white;
    font-family: Custy;
  }

  .info-approach-text{
    padding: 0;
  }

  .info-tabs{
    padding: 3rem 4rem;
  }

  .info-pricing{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: top;
    /* border: 2px dotted red; */
    padding-bottom: 6rem;
    position: relative;
    background-color: rgba(247, 247, 247, .5);
  }
  
  .info-switch{
    flex-direction: row-reverse;
  }

.price-img-div{
  height: 500px;
  flex: 1;
} 

.price-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 60% 0%;
}

.img2{
  object-position: 20% 20%;
}

.price-div{
  padding: 0 2rem;
  text-align: center;
  flex: 1;
  padding-top: 2rem;
  position: relative;
  /* background-color: rgba(247, 247, 247, .5); */
} 

.price-div ul li{
  font-weight: 400;
  font-family: "Lora", serif;
  font-size: 16px;
}

.price-title{
  font-family: Custy;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
}

/* .price-line{
  content: "";
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 1.5rem;
  height: .5rem;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
} */

.price-line-bot{
  content: "";
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 2rem;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  top: 2rem;
}


.price-text{
  padding-bottom: 1rem;
  font-weight: 400;
  font-family: "Lora", serif;
  font-size: 16px;
}

.price-bottom{
  font-family: Custy;
  font-size: 2.5rem;
  font-weight: 100;
  position: relative;
  top: 1.5rem;
  line-height: 2rem;
}

.price-bottom span{
  font-weight: 400;
  font-family: "Lora", serif;
  font-size: 16px;
  position: relative;
  bottom: 8px;
}

.price-button{
  padding: 1.25rem 2rem;
  font-size: .75rem;
  width: 173px;
  /* background-color: rgb(75, 75, 75); */
  /* color: white; */
  background-color: white;
  color: rgb(25, 25, 25);
  font-family: "Varela Round", sans-serif;
  border-radius: 4px;
  border: 1px solid rgb(75, 75, 75);
  font-weight: 100;
  letter-spacing: 1px;
  transition: color 350ms ease, background-color 350ms ease-in-out, opacity 750ms ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
}

.price-button:hover{
  /* background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255); */
  background-color: rgb(55, 55, 55);
  color: white;
  /* opacity: .75; */
}


}

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1288px) {} */

/* 2xL */
/* @media (min-width: 1536px) {}   */